<ErrorBoundary>
    <Modal @ref="_modalRef">
        <ModalContent Size="ModalSize.Default">
            <ModalHeader>
                <ModalTitle>
                    <span><i class="fas fa-pen"></i></span>
                    Edit TimeCard Hours
                </ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                @if (TimeCardWriteModel is not null)
                {
                    <Validations @ref="_validations" Mode="ValidationMode.Auto" Model="@TimeCardWriteModel">
                        <Container style="background-color:#F0F0F0;">
                            <Validation HandlerType="HandlerTypes.FluentValidation">
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">Regular Hours</FieldLabel>
                                    <NumericPicker TValue="int" Placeholder="Required" Decimals="0"
                                    @bind-Value=@TimeCardWriteModel!.RegularHours>
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </NumericPicker>
                                    <FieldHelp>Valid regular hours are from 0 to 185 hours.</FieldHelp>
                                </Field>
                            </Validation>
                            <Validation HandlerType="HandlerTypes.FluentValidation">
                                <Field>
                                    <FieldLabel TextWeight="TextWeight.Bold">Overtime Hours</FieldLabel>
                                    <NumericPicker TValue="int" Placeholder="Required" Decimals="0"
                                    @bind-Value=@TimeCardWriteModel!.OvertimeHours>
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </NumericPicker>
                                    <FieldHelp>Valid overtime hours are from 0 to 200 hours.</FieldHelp>
                                </Field>
                            </Validation>
                        </Container>
                    </Validations>
                }
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked=@CloseDialog>Cancel</Button>
                <Button Color=" Color.Success" Loading="@_isLoading" Clicked=@OnSave>Save
                </Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
</ErrorBoundary>