@page "/HumanResouces/Pages/EmployeeDetails/{EmployeeId:guid}"
@inject ILogger<EmployeeDetails> logger

<PageTitle>Employee Details</PageTitle>

<ErrorBoundary>
    <Row>
        <Column>
            <Card Margin="Margin.Is4.OnY">
                <CardHeader>
                    <Heading TextColor="TextColor.Muted" Size="HeadingSize.Is4"
                        Margin="Margin.Is3.FromStart.Is2.FromTop">
                        Employee Details
                    </Heading>
                </CardHeader>
                <CardBody>
                    @if (EmployeeDetailModel is not null)
                    {

                    }
                    else
                    {
                        <span>Loading employee details...</span>
                    }
                </CardBody>
                <CardFooter>

                </CardFooter>
            </Card>
        </Column>
    </Row>
</ErrorBoundary>
