@page "/HumanResouces/Pages/EmployeeEditPage/{EmployeeId:guid}"

<PageTitle>Employee Edit</PageTitle>

<ErrorBoundary>
    <Row>
        <Column>
            <Card Margin="Margin.Is4.OnY">
                <CardHeader>
                    <Heading TextColor="TextColor.Muted" Size="HeadingSize.Is4"
                        Margin="Margin.Is3.FromStart.Is2.FromTop">
                        Employee Edit
                    </Heading>
                </CardHeader>
                <CardBody>
                    @if (_employeeWriteModel is not null)
                    {

                    }
                    else
                    {
                        <span>Loading employee information...</span>
                    }
                </CardBody>
                <CardFooter>

                </CardFooter>
            </Card>
        </Column>
    </Row>
</ErrorBoundary>