@page "/HumanResources/HrStartPage"

<PageTitle>HR</PageTitle>

<Breadcrumb Margin="Margin.Is2.FromStart" Mode="BreadcrumbMode.Auto">
    <BreadcrumbItem>
        <BreadcrumbLink To="/">Home</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <BreadcrumbLink To="/HumanResources/HrStartPage">HR/Payroll</BreadcrumbLink>
    </BreadcrumbItem>
</Breadcrumb>

<Paragraph TextAlignment="TextAlignment.Center">
    <Heading TextColor="TextColor.Muted" Size="HeadingSize.Is5">Pipefitter's Supply Company Accounting Information
        System</Heading>
</Paragraph>

<p style="text-align:center;">
    <img src="/assets/accountant 2.svg" class="homelogo" alt="background image for the Home component" />
</p>

@code {

}
