@page "/HumanResources/HrStartPage"

<PageTitle>HR</PageTitle>

<Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromStart">Human Resources & Payroll Module</Heading>

<Paragraph Margin="Margin.Is5.FromStart">
    <Heading TextColor="TextColor.Muted" Size="HeadingSize.Is6">Pipefitter's Supply Company Accounting Information
        System</Heading>
</Paragraph>

<p style="text-align:center;">
    <img src="/assets/accountant 2.svg" class="homelogo" alt="background image for the Home component" />
</p>

@code {

}
