@page "/HumanResources/HrStartPage"

<PageTitle>HR</PageTitle>

<Paragraph TextAlignment="TextAlignment.Center">
    <Heading TextColor="TextColor.Muted" Size="HeadingSize.Is5">Pipefitter's Supply Company Accounting Information
        System</Heading>
</Paragraph>

<p style="text-align:center;">
    <img src="/assets/accountant 2.svg" class="homelogo" alt="background image for the Home component" />
</p>

@code {

}
