<ErrorBoundary>
    @if (@_financier is not null)
    {
        <Modal @ref="@_detailModalRef">
            <ModalContent Centered="true" Size="ModalSize.Large">
                <ModalHeader>
                    <ModalTitle>
                        <span><i class="fas fa-binoculars"></i></span>
                        Viewing financier details
                    </ModalTitle>
                    <CloseButton Clicked="@CloseDialog" />
                </ModalHeader>
                <ModalBody>
                    <ReadOnlyDetailsForm FormTitle=@_financier!.FinancierName ViewModel=@_financier>
                        <FormFields>
                            <Field Horizontal>
                                <FieldLabel ColumnSize="ColumnSize.Is3">Telephone</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is9">
                                    <TextEdit Text=@_financier!.Telephone ReadOnly />
                                </FieldBody>
                            </Field>
                            <Field Horizontal>
                                <FieldLabel ColumnSize="ColumnSize.Is3">Email Address</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is9">
                                    <TextEdit Text=@_financier!.EmailAddress ReadOnly />
                                </FieldBody>
                            </Field>
                            <Field Horizontal>
                                <FieldLabel ColumnSize="ColumnSize.Is3">Address</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is9">
                                    <TextEdit Text=@_financier!.FullAddress ReadOnly />
                                </FieldBody>
                            </Field>
                            <Field Horizontal>
                                <FieldLabel ColumnSize="ColumnSize.Is3">Contact</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is9">
                                    <TextEdit Text=@_financier!.ContactFullName ReadOnly />
                                </FieldBody>
                            </Field>
                            <Field Horizontal>
                                <FieldLabel ColumnSize="ColumnSize.Is3">Contact Telephone</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is9">
                                    <TextEdit Text=@_financier!.ContactTelephone ReadOnly />
                                </FieldBody>
                            </Field>
                            <Field Horizontal>
                                <FieldLabel ColumnSize="ColumnSize.Is3">Status</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is9">
                                    <TextEdit Text=@(ConvertIsActiveToString()) ReadOnly />
                                </FieldBody>
                            </Field>
                            <Field Horizontal>
                                <FieldLabel ColumnSize="ColumnSize.Is3">Created On</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is9">
                                    <TextEdit Text=@(_financier!.CreatedDate.ToShortDateString()) ReadOnly />
                                </FieldBody>
                            </Field>
                            <Field Horizontal>
                                <FieldLabel ColumnSize="ColumnSize.Is3">Last Modified On</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is9">
                                    <TextEdit Text=@(HideEmptyDate()) ReadOnly />
                                </FieldBody>
                            </Field>
                        </FormFields>
                    </ReadOnlyDetailsForm>
                </ModalBody>
                <ModalFooter>
                    <Button id="footer-close-btn" Color="Color.Secondary" Clicked="@CloseDialog">Close</Button>
                </ModalFooter>
            </ModalContent>
        </Modal>
    }
    </ErrorBoundary>