@inherits FluxorComponent

<ErrorBoundary>
    <Buttons Role="ButtonsRole.Toolbar" Margin="Margin.Is1.FromEnd">
        <Button Color="Color.Primary" Size=Size.Small>All</Button>
        <Button Color="Color.Primary" Size=Size.Small>Funds Rcvd</Button>
        <Button Color="Color.Primary" Size=Size.Small>Funds Not Rcvd</Button>
    </Buttons>
</ErrorBoundary>
