@page "/Finance/Pages/Financiers/FinancierDetails/{FinancierId:guid}"
@using PipefittersAccounting.UI.Components.Common
@inject ILogger<FinancierDetails> logger

@if (_financierDetailModel is not null)
{
    <ReadOnlyDetailsForm PageTitle=@_pageTitle FormTitle=@_formTitle ViewModel=@_financierDetailModel>
    <FormFields>
        <Field>
            <FieldLabel>Telephone</FieldLabel>
            <TextEdit Text=@_financierDetailModel!.Telephone ReadOnly />
        </Field>
        <Field>
            <FieldLabel>Address Line1</FieldLabel>
            <TextEdit Text=@_financierDetailModel!.AddressLine1 ReadOnly />
        </Field>
        <Field>
            <FieldLabel>Address Line2</FieldLabel>
            <TextEdit Text=@_financierDetailModel!.AddressLine2 ReadOnly />
        </Field>
        <Field>
            <FieldLabel>City</FieldLabel>
            <TextEdit Text=@_financierDetailModel!.City ReadOnly />
        </Field>
        <Field>
            <FieldLabel>State</FieldLabel>
            <TextEdit Text=@_financierDetailModel!.StateCode ReadOnly />
        </Field>
        <Field>
            <FieldLabel>Zipcode</FieldLabel>
            <TextEdit Text=@_financierDetailModel!.Zipcode ReadOnly />
        </Field>
        <Field>
            <FieldLabel>Contact Name</FieldLabel>
            <TextEdit Text=@_financierDetailModel!.ContactFullName ReadOnly />
        </Field>
        <Field>
            <FieldLabel>Contact Telephone</FieldLabel>
            <TextEdit Text=@_financierDetailModel!.ContactTelephone ReadOnly />
        </Field>
        <Field>
            <FieldLabel>Status</FieldLabel>
            <TextEdit Text=@(ConvertIsActiveToString()) ReadOnly />
        </Field>
        <Field>
            <FieldLabel>Created On</FieldLabel>
            <TextEdit Text=@(_financierDetailModel!.CreatedDate.ToShortDateString()) ReadOnly />
        </Field>
        <Field>
            <FieldLabel>Last Modified On</FieldLabel>
            <TextEdit Text=@(_financierDetailModel!.LastModifiedDate.ToShortDateString()) ReadOnly />
        </Field>
    </FormFields>
</ReadOnlyDetailsForm>
}
else
{
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
}