<div Align="center">
    <h5>Pipefitter's Supply Company <br /> Accounting Information System.</h5>    
</div>
<p style="text-align:center;">
    <img src="/assets/accountant 2.svg" alt="background image for the Home component" />
</p>
