<div class="mt-4" style="text-align:center;">
    <Heading Size="HeadingSize.Is4">
        Pipefitter's Supply Company Accounting Information System
    </Heading>
</div>

<p style="text-align:center;">
    <img src="/assets/accountant 2.svg" class="homelogo" alt="background image for the Home component" />
</p>
